@font-face {
		font-family: "UbuntuRegular";
		src: url("/fonts/UbuntuRegular.eot");
		src: url("/fonts/UbuntuRegular.eot?#iefix")format("embedded-opentype"),
		url("/fonts/UbuntuRegular.woff") format("woff"),
		url("/fonts/UbuntuRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "UbuntuBold";
		src: url("/fonts/UbuntuBold.eot");
		src: url("/fonts/UbuntuBold.eot?#iefix")format("embedded-opentype"),
		url("/fonts/UbuntuBold.woff") format("woff"),
		url("/fonts/UbuntuBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "UbuntuItalic";
		src: url("/fonts/UbuntuItalic.eot");
		src: url("/fonts/UbuntuItalic.eot?#iefix")format("embedded-opentype"),
		url("/fonts/UbuntuItalic.woff") format("woff"),
		url("/fonts/UbuntuItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "UbuntuLight";
		src: url("/fonts/UbuntuLight.eot");
		src: url("/fonts/UbuntuLight.eot?#iefix")format("embedded-opentype"),
		url("/fonts/UbuntuLight.woff") format("woff"),
		url("/fonts/UbuntuLight.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "UbuntuLightItalic";
		src: url("/fonts/UbuntuLightItalic.eot");
		src: url("/fonts/UbuntuLightItalic.eot?#iefix")format("embedded-opentype"),
		url("/fonts/UbuntuLightItalic.woff") format("woff"),
		url("/fonts/UbuntuLightItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "UbuntuMedium";
		src: url("/fonts/UbuntuMedium.eot");
		src: url("/fonts/UbuntuMedium.eot?#iefix")format("embedded-opentype"),
		url("/fonts/UbuntuMedium.woff") format("woff"),
		url("/fonts/UbuntuMedium.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "UbuntuMediumItalic";
		src: url("/fonts/UbuntuMediumItalic.eot");
		src: url("/fonts/UbuntuMediumItalic.eot?#iefix")format("embedded-opentype"),
		url("/fonts/UbuntuMediumItalic.woff") format("woff"),
		url("/fonts/UbuntuMediumItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

@font-face {
		font-family: "UbuntuBoldItalic";
		src: url("/fonts/UbuntuBoldItalic.eot");
		src: url("/fonts/UbuntuBoldItalic.eot?#iefix")format("embedded-opentype"),
		url("/fonts/UbuntuBoldItalic.woff") format("woff"),
		url("/fonts/UbuntuBoldItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}